{% extends "SportlobsterFrontBundle::layout.html.twig" %}

{% block content %}
	
	<div class="row starter-template">
		<div class="span9">
		{% for item in collection %}

			{% if type == item.category|lower %}
				<div class="span4">
					<h2>{{ item.title|raw }}</h2>
					<p>{{ item.description|raw }}</p>
					{#<p><a class="btn btn-default" href="#" role="button"></a></p>#}
				</div>
			{% endif %}

		{% endfor %}
		</div>
	</div>
{% endblock %}