{% extends "SportlobsterFrontBundle::layout.html.twig" %}

{% block content %}
	
	<div class="row starter-template">
		<h1>News {{ category }} : {{ type }} </h1>
		<div class="span9">
		{% for item in collection %}
			{% if type == item.category|lower %}
				<div class="span4">
					<h2>{{ item.title|raw }}</h2>
					<p>{{ item.description|raw }}</p>
				</div>
				<hr/>
			{% endif %}
		{% endfor %}
		</div>
	</div>
{% endblock %}